body {
    background-color: #f4f6f9;
}

.card {
    border: none;
    border-radius: 12px;
}

.card-header {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}

.alert {
    transition: all 0.3s ease-in-out;
}